Node-Red-Flows.json
[{"id":"bbe5f2c4bbae14f4","type":"tab","label":"Verbindung Remote-Red","disabled":false,"info":"","env":[]},{"id":"3e9b33a4228a7b62","type":"tab","label":"Sensor-Daten visualisieren und speichern","disabled":false,"info":"","env":[]},{"id":"0f9c48666c844b99","type":"tab","label":"Steuerdaten an Broker schicken","disabled":false,"info":"","env":[]},{"id":"42b890c11b709756","type":"tab","label":"Steuerfeedback Daten visualisieren","disabled":false,"info":"","env":[]},{"id":"b35dc42f2a79a8f1","type":"mqtt-broker","name":"ESP32ChSch","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6c1c1350ea9c3cc2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6dd01375e861c92","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"messdaten","tz":"","charset":"UTF8"},{"id":"48c135162f02ea4c","type":"MySQLdatabase","name":"Daten","host":"127.0.0.1","port":"3306","db":"messdaten","tz":"","charset":"UTF8"},{"id":"56a7c24c61a9636e","type":"ui_group","name":"Projekt Hovercraft","tab":"","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f28111a5a9455dec","type":"ui_group","name":"Standard","tab":"","disp":true,"width":6,"collapse":false,"className":""},{"id":"f339e74bf5e66b29","type":"ui_group","name":"BZTG","tab":"","order":1,"disp":true,"width":"15","collapse":false,"className":""},{"id":"3c261a78a9ce3fb7","type":"ui_group","name":"BZTG","tab":"","order":1,"disp":true,"width":"15","collapse":true,"className":""},{"id":"26a70d6d3d19fbc9","type":"MySQLdatabase","name":"DatenMRA","host":"127.0.0.1","port":"3306","db":"projektmra","tz":"","charset":"UTF8"},{"id":"49a8200b2731da31","type":"ui_tab","name":"Heizungssteuerung","icon":"dashboard","disabled":false,"hidden":false},{"id":"460753fd1d13c55e","type":"ui_group","name":"Steuerung","tab":"49a8200b2731da31","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"793f9266f7a88071","type":"ui_group","name":"Feedback","tab":"49a8200b2731da31","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"4010b08a1e4e2351","type":"ui_group","name":"Anzeige","tab":"49a8200b2731da31","order":4,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e34902bd2ede5a84","type":"remote-config","name":"Heizungssteuerung","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"x73ts63fkt08ca9m7hmh73pcbc27xu7b18j28z1k93750y3pqil603u0qk4mfage","server":"nodered04.remote-red.com","region":"de"},{"id":"1f223a6d6b28ad4d","type":"remote-access","z":"bbe5f2c4bbae14f4","confignode":"e34902bd2ede5a84","name":"Smartphone-Verbindung","verbose":0,"x":350,"y":160,"wires":[[],[]]},{"id":"29613c7f02efe020","type":"comment","z":"bbe5f2c4bbae14f4","name":"Anmerkung Smartphone-Verbindung","info":"Der Grund für den Fehler \"Konfiguration \nunvollständig\" ist das man sich noch mit\nden Smartphone verbinden muss. Dafür muss \nman den QR-Code in der Remote-Red scannen.\nHier eine Anleitung wie man zum QR-Code\nkommt:\n- Node \"Smartphone-Verbindung\" öffnen\n- Die Konfig \"Heizungssteuerung\" bearbeiten\n  (auf die Stift klicken)\n- Auf den Remote-Red-App verbinden klicken\n- QR-Code in der App scannen\n- Auf den Button aktualisieren klicken und\n  Node schließen\n- Oben links auf den Button-Übernahme \n  klicken","x":380,"y":220,"wires":[]},{"id":"0962679bcaf88d1a","type":"mqtt in","z":"3e9b33a4228a7b62","name":"","topic":"Raum/Sensorwerte","qos":"2","datatype":"auto-detect","broker":"b35dc42f2a79a8f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":160,"wires":[["16b3a315ceeb6380","3973843ec6eb679a","54db9f7781ddb6c5","68036b3b7bf9aea7","7f861b14df81fe68","153313aae4b06eab","275c8a5349a50acc"]]},{"id":"16b3a315ceeb6380","type":"function","z":"3e9b33a4228a7b62","name":"Temperatur herausschreiben","func":"// Der Wert für Temperatur wird aus der JSON-Datei herausgeschrieben\nvar temperatur = { payload: msg.payload.Temperatur };\nreturn temperatur;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["c2350bea0928147f"]]},{"id":"3973843ec6eb679a","type":"function","z":"3e9b33a4228a7b62","name":"Luftfeuchtigkeit herausschreiben","func":"// Der Wert für Luftfeuchtigkeit wird aus der JSON-Datei herausgeschrieben\nvar luftfeuchtigkeit = { payload: msg.payload.Luftfeuchtigkeit };\nreturn luftfeuchtigkeit;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["ffb3111984749477"]]},{"id":"54db9f7781ddb6c5","type":"function","z":"3e9b33a4228a7b62","name":"CO2-Wert herausschreiben","func":"// Der Wert für CO2 wird aus der JSON-Datei herausgeschrieben\nvar co2 = { payload: msg.payload.CO2_Wert };\nreturn co2;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["1d63098aaa478dec"]]},{"id":"68036b3b7bf9aea7","type":"function","z":"3e9b33a4228a7b62","name":"TVOC-Wert herausschreiben","func":"// Der Wert für TVOC wird aus der JSON-Datei herausgeschrieben\nvar tvoc = { payload: msg.payload.TVOC_Wert};\nreturn tvoc;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["34d9185480aae3d0"]]},{"id":"7f861b14df81fe68","type":"function","z":"3e9b33a4228a7b62","name":"In Datenbank schreiben","func":"//Sensor Daten aus der JSON-Datei schreiben\nlet temperatur = msg.payload.Temperatur;\nlet luftfeuchtigkeit = msg.payload.Luftfeuchtigkeit;\nlet co2 = msg.payload.CO2_Wert;\nlet tvoc = msg.payload.TVOC_Wert;\nlet momt_leistung = msg.payload.Momentane_Leistung;\nlet ges_leistung = msg.payload.Gesamte_Leistung;\n\n// Timestamp erstellen und eine Stunde hinzufügen\nlet timestamp = new Date();\ntimestamp.setHours(timestamp.getHours() + 2); //abgeänderte Zeit +2 damit sie übereinstimmt \n\n// Formatieren für SQLite (YYYY-MM-DD HH:MM:SS)\nlet formattedTimestamp = timestamp.toISOString().replace(\"T\", \" \").substring(0, 19);\n\n// SQL-Statement und Werte vorbereiten\nmsg.topic = \"INSERT INTO sensorwerte (Zeit, Temperatur, Luftfeuchtigkeit, CO2_Wert, TVOC_Wert, Aktuelle_Leistung, Gesamt_Leistung) VALUES (?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [formattedTimestamp, temperatur, luftfeuchtigkeit, co2, tvoc, momt_leistung, ges_leistung];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":560,"wires":[["6fdbe12a9689e384"]]},{"id":"6fdbe12a9689e384","type":"mysql","z":"3e9b33a4228a7b62","mydb":"26a70d6d3d19fbc9","name":"Datenbank","x":850,"y":560,"wires":[[]]},{"id":"153313aae4b06eab","type":"function","z":"3e9b33a4228a7b62","name":"Momentane Leistung herausschreiben","func":"// Der Wert für der momentanen Leistung wird aus der JSON-Datei herausgeschrieben\nvar momt_leistung = { payload: msg.payload.Momentane_Leistung };\nreturn momt_leistung;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":400,"wires":[["5b6f13b204f6cb82"]]},{"id":"275c8a5349a50acc","type":"function","z":"3e9b33a4228a7b62","name":"Gesamter Verbrauch herausschreiben","func":"//Wert für den gesamten Verbrauch wird aus der JSON-Datei herausgeschrieben\nvar ges_leistung = { payload: msg.payload.Gesamte_Leistung };\nreturn ges_leistung;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":460,"wires":[["78a15a66a48f8f65"]]},{"id":"c2350bea0928147f","type":"ui_gauge","z":"3e9b33a4228a7b62","name":"","group":"4010b08a1e4e2351","order":1,"width":6,"height":5,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":160,"wires":[]},{"id":"ffb3111984749477","type":"ui_gauge","z":"3e9b33a4228a7b62","name":"","group":"4010b08a1e4e2351","order":2,"width":6,"height":5,"gtype":"wave","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":860,"y":220,"wires":[]},{"id":"1d63098aaa478dec","type":"ui_gauge","z":"3e9b33a4228a7b62","name":"","group":"4010b08a1e4e2351","order":3,"width":6,"height":5,"gtype":"gage","title":"CO2-Wert","label":"ppm","format":"{{value}}","min":"400","max":"8192","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":280,"wires":[]},{"id":"34d9185480aae3d0","type":"ui_gauge","z":"3e9b33a4228a7b62","name":"","group":"4010b08a1e4e2351","order":4,"width":6,"height":5,"gtype":"gage","title":"TVOC-Wert","label":"ppb","format":"{{value}}","min":0,"max":"1187","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":340,"wires":[]},{"id":"5b6f13b204f6cb82","type":"ui_text","z":"3e9b33a4228a7b62","group":"4010b08a1e4e2351","order":5,"width":6,"height":1,"name":"","label":"Aktuelle Leistung (in W) :","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":890,"y":400,"wires":[]},{"id":"78a15a66a48f8f65","type":"ui_text","z":"3e9b33a4228a7b62","group":"4010b08a1e4e2351","order":6,"width":6,"height":1,"name":"","label":"Verbrauch (in kWh) :","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":880,"y":460,"wires":[]},{"id":"1925b97703578a9f","type":"comment","z":"3e9b33a4228a7b62","name":"Sensordaten speichern","info":"","x":480,"y":520,"wires":[]},{"id":"42a2b09ca46983bf","type":"comment","z":"3e9b33a4228a7b62","name":"Sensordaten herausschreiben und visualisieren","info":"","x":560,"y":120,"wires":[]},{"id":"c554fba009c7461b","type":"comment","z":"3e9b33a4228a7b62","name":"Dashboard-Anzeige","info":"","x":870,"y":120,"wires":[]},{"id":"cecbca6734c74ed0","type":"ui_button","z":"0f9c48666c844b99","name":"","group":"460753fd1d13c55e","order":1,"width":6,"height":1,"passthru":false,"label":"Aus","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"{\"Strahler\" : 0}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":290,"y":100,"wires":[["d4a349ae9ecc2d35"]]},{"id":"462ef533762bb41e","type":"ui_button","z":"0f9c48666c844b99","name":"","group":"460753fd1d13c55e","order":2,"width":6,"height":1,"passthru":false,"label":"1kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 1}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":290,"y":160,"wires":[["d4a349ae9ecc2d35"]]},{"id":"8faedb688f622263","type":"ui_button","z":"0f9c48666c844b99","name":"","group":"460753fd1d13c55e","order":3,"width":6,"height":1,"passthru":false,"label":"2kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 2}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":290,"y":220,"wires":[["d4a349ae9ecc2d35"]]},{"id":"b1423c6e4b99acc7","type":"ui_button","z":"0f9c48666c844b99","name":"","group":"460753fd1d13c55e","order":4,"width":6,"height":1,"passthru":false,"label":"3kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 3}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":290,"y":280,"wires":[["d4a349ae9ecc2d35"]]},{"id":"d4a349ae9ecc2d35","type":"mqtt out","z":"0f9c48666c844b99","name":"","topic":"Steuerung/Stufen","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":970,"y":180,"wires":[]},{"id":"0d73097ad34eceef","type":"ui_numeric","z":"0f9c48666c844b99","name":"","label":"Frostschutz Einschalten (in °C)","tooltip":"","group":"460753fd1d13c55e","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":370,"y":440,"wires":[["0b6729e37123971e"]]},{"id":"0b6729e37123971e","type":"function","z":"0f9c48666c844b99","name":"In JSON-Format schreiben","func":"//Steuerbefehle vom Dashboard ins JSON-Format schreiben\nvar number = parseInt(msg.payload); //Stellt sicher das es ein Integer ist\nmsg.payload = {\"FrostEIN\": number}; //in JSON-Format schreiben\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":440,"wires":[["f50598b0439d82ca"]]},{"id":"5fd9f9ee99b4d913","type":"function","z":"0f9c48666c844b99","name":"In JSON-Format schreiben","func":"//Steuerbefehle vom Dashboard ins JSON-Format schreiben\nvar number = parseInt(msg.payload); //Stellt sicher das es ein Integer ist\nmsg.payload = {\"FrostAUS\": number}; //in JSON-Format schreiben\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":500,"wires":[["f6254c7213cfd73b"]]},{"id":"1ab0d8d775c0a547","type":"ui_numeric","z":"0f9c48666c844b99","name":"","label":"Frostschutz Ausschalten (in °C)","tooltip":"","group":"460753fd1d13c55e","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":370,"y":500,"wires":[["5fd9f9ee99b4d913"]]},{"id":"f50598b0439d82ca","type":"mqtt out","z":"0f9c48666c844b99","name":"","topic":"Steuerung/FrostEIN","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":980,"y":440,"wires":[]},{"id":"f6254c7213cfd73b","type":"mqtt out","z":"0f9c48666c844b99","name":"","topic":"Steuerung/FrostEIN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":980,"y":500,"wires":[]},{"id":"9b19b4001309aa06","type":"comment","z":"0f9c48666c844b99","name":"Steuerung-Heizstrahler","info":"","x":120,"y":100,"wires":[]},{"id":"d79ebd605ac70794","type":"comment","z":"0f9c48666c844b99","name":"Steuerung-Frostschutz","info":"","x":120,"y":440,"wires":[]},{"id":"664e1febc489eb0e","type":"comment","z":"0f9c48666c844b99","name":"Dashbaord-Steuerung","info":"","x":340,"y":60,"wires":[]},{"id":"5618d63d9d1bcda5","type":"mqtt in","z":"42b890c11b709756","name":"","topic":"Raum/Feedback","qos":"2","datatype":"auto-detect","broker":"b35dc42f2a79a8f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":160,"wires":[["c28621dbd89c3108","a140ec86ae140f69","677a235739e20289","c4276482eeb4c51f"]]},{"id":"c28621dbd89c3108","type":"function","z":"42b890c11b709756","name":"Strahler Stufe herausschreiben","func":"//Die aktuelle Heizstrahler-Stufe wird aus das JSON-Format geschrieben\nvar stufe = { payload: msg.payload.Strahlerfeedback };\nreturn stufe;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":160,"wires":[["fa484ad489a1b92b"]]},{"id":"fa484ad489a1b92b","type":"ui_text_input","z":"42b890c11b709756","name":"","label":"Strahlerstufe :","tooltip":"","group":"793f9266f7a88071","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":900,"y":160,"wires":[[]]},{"id":"fcee77165a136700","type":"ui_text_input","z":"42b890c11b709756","name":"","label":"Frostschutz Ein :","tooltip":"","group":"793f9266f7a88071","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":910,"y":220,"wires":[[]]},{"id":"4e17d2ec84778978","type":"ui_text_input","z":"42b890c11b709756","name":"","label":"Frostschutz Aus :","tooltip":"","group":"793f9266f7a88071","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":910,"y":280,"wires":[[]]},{"id":"a140ec86ae140f69","type":"function","z":"42b890c11b709756","name":"FrostschutzEin herausschreiben","func":"//Der Wert, wann der Frostschutz eingeschaltet wird aus das JSON-Format geschrieben\nvar frostein = { payload: msg.payload.Frostschutzschwellwert };\nreturn frostein;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["fcee77165a136700"]]},{"id":"677a235739e20289","type":"function","z":"42b890c11b709756","name":"FrostschutzAus herausschreiben","func":"//Der Wert, wann der Frostschutz ausgeschaltet wird aus das JSON-Format geschrieben\nvar frostaus = { payload: msg.payload.FrostschutzAus };\nreturn frostaus;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["4e17d2ec84778978"]]},{"id":"c4276482eeb4c51f","type":"function","z":"42b890c11b709756","name":"FrostschutzEin herausschreiben","func":"//Der Wert für den Status des Frostschutz wird aus der JSON-Datei geschrieben\nvar frostfeedback = { payload: msg.payload.Frostschutzfeedback };\nreturn frostfeedback;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[["8374bd7e63352a25"]]},{"id":"8374bd7e63352a25","type":"ui_text_input","z":"42b890c11b709756","name":"","label":"Frostschutz Status :","tooltip":"","group":"793f9266f7a88071","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":920,"y":340,"wires":[[]]},{"id":"03f3d7b868bad133","type":"comment","z":"42b890c11b709756","name":"Feedbackdaten herauschreiben und visualisieren","info":"","x":560,"y":100,"wires":[]},{"id":"cadd30b500654f69","type":"comment","z":"42b890c11b709756","name":"Dashboard Feedback","info":"","x":920,"y":100,"wires":[]}]