Projekt-MRA-Node-Red-Flows.json
[{"id":"a28e27efc14b74bc","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"69b11b0475151bd7","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"06c685317bc40b5a","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"b35dc42f2a79a8f1","type":"mqtt-broker","name":"ESP32ChSch","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6c1c1350ea9c3cc2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6dd01375e861c92","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"messdaten","tz":"","charset":"UTF8"},{"id":"48c135162f02ea4c","type":"MySQLdatabase","name":"Daten","host":"127.0.0.1","port":"3306","db":"messdaten","tz":"","charset":"UTF8"},{"id":"56a7c24c61a9636e","type":"ui_group","name":"Projekt Hovercraft","tab":"","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f28111a5a9455dec","type":"ui_group","name":"Standard","tab":"","disp":true,"width":6,"collapse":false,"className":""},{"id":"f339e74bf5e66b29","type":"ui_group","name":"BZTG","tab":"","order":1,"disp":true,"width":"15","collapse":false,"className":""},{"id":"3c261a78a9ce3fb7","type":"ui_group","name":"BZTG","tab":"","order":1,"disp":true,"width":"15","collapse":true,"className":""},{"id":"460753fd1d13c55e","type":"ui_group","name":"Stufensteuerung","tab":"539e5febaa9cc8e7","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"26a70d6d3d19fbc9","type":"MySQLdatabase","name":"DatenMRA","host":"127.0.0.1","port":"3306","db":"projektmra","tz":"","charset":"UTF8"},{"id":"793f9266f7a88071","type":"ui_group","name":"Feedback","tab":"539e5febaa9cc8e7","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"4010b08a1e4e2351","type":"ui_group","name":"Anzeige","tab":"539e5febaa9cc8e7","order":4,"disp":true,"width":"12","collapse":false,"className":""},{"id":"539e5febaa9cc8e7","type":"ui_tab","name":"Heizungssteuerung","icon":"dashboard","disabled":false,"hidden":false},{"id":"9a157409268a248d","type":"mqtt in","z":"a28e27efc14b74bc","name":"","topic":"Raum/Sensorwerte","qos":"2","datatype":"auto-detect","broker":"b35dc42f2a79a8f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":160,"wires":[["def5940243904af2","8c87e801010a7f78","09a874b9b5f390eb","5bd13f1a5e042465","330cdf5ebcda15c6","2d26eb34d071dc31","2567c035e9a57b62"]]},{"id":"def5940243904af2","type":"function","z":"a28e27efc14b74bc","name":"Temperatur herausschreiben","func":"var temperatur = { payload: msg.payload.Temperatur };\nreturn temperatur;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":160,"wires":[["2ea15cb3ac49d2b0"]]},{"id":"8c87e801010a7f78","type":"function","z":"a28e27efc14b74bc","name":"Luftfeuchtigkeit herausschreiben","func":"var luftfeuchtigkeit = { payload: msg.payload.Luftfeuchtigkeit };\nreturn luftfeuchtigkeit;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["b25e5d2f8d916922"]]},{"id":"09a874b9b5f390eb","type":"function","z":"a28e27efc14b74bc","name":"CO2-Wert herausschreiben","func":"var co2 = { payload: msg.payload.CO2_Wert };\nreturn co2;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["eac864b83e3ec08f"]]},{"id":"5bd13f1a5e042465","type":"function","z":"a28e27efc14b74bc","name":"TVOC-Wert herausschreiben","func":"var tvoc = { payload: msg.payload.TVOC_Wert};\nreturn tvoc;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["69d4b592c5a11bad"]]},{"id":"330cdf5ebcda15c6","type":"function","z":"a28e27efc14b74bc","name":"In Datenbank schreiben","func":"let temperatur = msg.payload.Temperatur;\nlet luftfeuchtigkeit = msg.payload.Luftfeuchtigkeit;\nlet co2 = msg.payload.CO2_Wert;\nlet tvoc = msg.payload.TVOC_Wert;\nlet momt_leistung = msg.payload.Momentane_Leistung;\nlet ges_leistung = msg.payload.Gesamte_Leistung;\n\n// Timestamp erstellen und eine Stunde hinzufügen\nlet timestamp = new Date();\ntimestamp.setHours(timestamp.getHours() + 2);\n\n// Formatieren für SQLite (YYYY-MM-DD HH:MM:SS)\nlet formattedTimestamp = timestamp.toISOString().replace(\"T\", \" \").substring(0, 19);\n\nmsg.topic = \"INSERT INTO sensorwerte (Zeit, Temperatur, Luftfeuchtigkeit, CO2_Wert, TVOC_Wert, Aktuelle_Leistung, Gesamt_Leistung) VALUES (?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [formattedTimestamp, temperatur, luftfeuchtigkeit, co2, tvoc, momt_leistung, ges_leistung];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":520,"wires":[["d0611c54e4df7724"]]},{"id":"d0611c54e4df7724","type":"mysql","z":"a28e27efc14b74bc","mydb":"26a70d6d3d19fbc9","name":"Datenbank","x":850,"y":520,"wires":[[]]},{"id":"2d26eb34d071dc31","type":"function","z":"a28e27efc14b74bc","name":"Momentane Leistung herausschreiben","func":"var momt_leistung = { payload: msg.payload.Momentane_Leistung };\nreturn momt_leistung;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":400,"wires":[["a1096f70592c465a"]]},{"id":"2567c035e9a57b62","type":"function","z":"a28e27efc14b74bc","name":"Gesamte Leistung herausschreiben","func":"var ges_leistung = { payload: msg.payload.Gesamte_Leistung };\nreturn ges_leistung;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["4a07ec163658897f"]]},{"id":"2ea15cb3ac49d2b0","type":"ui_gauge","z":"a28e27efc14b74bc","name":"","group":"4010b08a1e4e2351","order":1,"width":6,"height":5,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":160,"wires":[]},{"id":"b25e5d2f8d916922","type":"ui_gauge","z":"a28e27efc14b74bc","name":"","group":"4010b08a1e4e2351","order":2,"width":6,"height":5,"gtype":"wave","title":"Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":860,"y":220,"wires":[]},{"id":"eac864b83e3ec08f","type":"ui_gauge","z":"a28e27efc14b74bc","name":"","group":"4010b08a1e4e2351","order":3,"width":6,"height":5,"gtype":"gage","title":"CO2-Wert","label":"ppm","format":"{{value}}","min":"400","max":"8192","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":280,"wires":[]},{"id":"69d4b592c5a11bad","type":"ui_gauge","z":"a28e27efc14b74bc","name":"","group":"4010b08a1e4e2351","order":4,"width":6,"height":5,"gtype":"gage","title":"TVOC-Wert","label":"ppb","format":"{{value}}","min":0,"max":"1187","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":850,"y":340,"wires":[]},{"id":"a1096f70592c465a","type":"ui_text","z":"a28e27efc14b74bc","group":"4010b08a1e4e2351","order":5,"width":6,"height":1,"name":"","label":"Aktuelle Leistung (in W) :","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":890,"y":400,"wires":[]},{"id":"4a07ec163658897f","type":"ui_text","z":"a28e27efc14b74bc","group":"4010b08a1e4e2351","order":6,"width":6,"height":1,"name":"","label":"Gesamte Leistung (in kW) :","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":900,"y":460,"wires":[]},{"id":"ed72282dd6c7e8da","type":"ui_button","z":"69b11b0475151bd7","name":"","group":"460753fd1d13c55e","order":1,"width":6,"height":1,"passthru":false,"label":"Aus","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"{\"Strahler\" : 0}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":210,"y":120,"wires":[["22646e77747ec0f4"]]},{"id":"dafc05bd5fc4788a","type":"ui_button","z":"69b11b0475151bd7","name":"","group":"460753fd1d13c55e","order":2,"width":6,"height":1,"passthru":false,"label":"1kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 1}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":210,"y":180,"wires":[["22646e77747ec0f4"]]},{"id":"4b20c08e3696917e","type":"ui_button","z":"69b11b0475151bd7","name":"","group":"460753fd1d13c55e","order":3,"width":6,"height":1,"passthru":false,"label":"2kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 2}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":210,"y":240,"wires":[["22646e77747ec0f4"]]},{"id":"cb3bad67c21c0d42","type":"ui_button","z":"69b11b0475151bd7","name":"","group":"460753fd1d13c55e","order":4,"width":6,"height":1,"passthru":false,"label":"3kW","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"Strahler\" : 3}","payloadType":"json","topic":"heizstrahler","topicType":"msg","x":210,"y":300,"wires":[["22646e77747ec0f4"]]},{"id":"22646e77747ec0f4","type":"mqtt out","z":"69b11b0475151bd7","name":"","topic":"Steuerung/Stufen","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":890,"y":200,"wires":[]},{"id":"ea17d4e8afa17520","type":"ui_numeric","z":"69b11b0475151bd7","name":"","label":"Frostschutz Einschalten","tooltip":"","group":"460753fd1d13c55e","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":270,"y":480,"wires":[["f5526b0490d8ccf3"]]},{"id":"f5526b0490d8ccf3","type":"function","z":"69b11b0475151bd7","name":"In JSON-Format schreiben","func":"var number = parseInt(msg.payload);\nmsg.payload = {\"FrostEIN\": number};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["23adedf5bdec2223"]]},{"id":"3716b125d562eb6b","type":"function","z":"69b11b0475151bd7","name":"In JSON-Format schreiben","func":"var number = msg.payload;\nmsg.payload = {\"FrostAUS\": number};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":540,"wires":[["f944d2c1e3b857da"]]},{"id":"b59a98fbccefffeb","type":"ui_numeric","z":"69b11b0475151bd7","name":"","label":"Frostschutz Ausschalten","tooltip":"","group":"460753fd1d13c55e","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"40","step":1,"className":"","x":270,"y":540,"wires":[["3716b125d562eb6b"]]},{"id":"23adedf5bdec2223","type":"mqtt out","z":"69b11b0475151bd7","name":"","topic":"Steuerung/FrostEIN","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":900,"y":480,"wires":[]},{"id":"f944d2c1e3b857da","type":"mqtt out","z":"69b11b0475151bd7","name":"","topic":"Steuerung/FrostEIN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b35dc42f2a79a8f1","x":900,"y":540,"wires":[]},{"id":"368c88259dfcb04f","type":"mqtt in","z":"06c685317bc40b5a","name":"","topic":"Raum/Feedback","qos":"2","datatype":"auto-detect","broker":"b35dc42f2a79a8f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":160,"wires":[["7c7af46622c3d0b0","97299f0a1391b3f8","41f22ed930d80ff9","4e7336dceba3ab1b","caa15a1e3dfdcd57"]]},{"id":"7c7af46622c3d0b0","type":"function","z":"06c685317bc40b5a","name":"Strahler Stufe herausschreiben","func":"var stufe = { payload: msg.payload.Strahlerfeedback };\nreturn stufe;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":160,"wires":[["67c4bc4ca41c00f0"]]},{"id":"67c4bc4ca41c00f0","type":"ui_text_input","z":"06c685317bc40b5a","name":"","label":"Strahlerstufe :","tooltip":"","group":"793f9266f7a88071","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":860,"y":160,"wires":[[]]},{"id":"0aed66df9d5ffb70","type":"ui_text_input","z":"06c685317bc40b5a","name":"","label":"Frostschutz Ein :","tooltip":"","group":"793f9266f7a88071","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":870,"y":220,"wires":[[]]},{"id":"a3869f720e635ef8","type":"ui_text_input","z":"06c685317bc40b5a","name":"","label":"Frostschutz Aus :","tooltip":"","group":"793f9266f7a88071","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":870,"y":280,"wires":[[]]},{"id":"97299f0a1391b3f8","type":"function","z":"06c685317bc40b5a","name":"FrostschutzEin herausschreiben","func":"var frostein = { payload: msg.payload.Frostschutzschwellwert };\nreturn frostein;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["0aed66df9d5ffb70"]]},{"id":"41f22ed930d80ff9","type":"function","z":"06c685317bc40b5a","name":"FrostschutzAus herausschreiben","func":"var frostaus = { payload: msg.payload.FrostschutzAus };\nreturn frostaus;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["a3869f720e635ef8"]]},{"id":"4e7336dceba3ab1b","type":"function","z":"06c685317bc40b5a","name":"FrostschutzEin herausschreiben","func":"var frostfeedback = { payload: msg.payload.Frostschutzfeedback };\nreturn frostfeedback;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[["98f914b073b92eae","bf897b10787a1e3e"]]},{"id":"98f914b073b92eae","type":"ui_text_input","z":"06c685317bc40b5a","name":"","label":"Frostschutz Feedback :","tooltip":"","group":"793f9266f7a88071","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":890,"y":340,"wires":[[]]},{"id":"bf897b10787a1e3e","type":"debug","z":"06c685317bc40b5a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":420,"wires":[]},{"id":"caa15a1e3dfdcd57","type":"debug","z":"06c685317bc40b5a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]}]